<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjrjob.dao.CollectionMapper" >
  <resultMap id="BaseResultMap" type="com.cjrjob.pojo.Collection" >
    <constructor >
      <idArg column="job_collection" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="job_seeker_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="job_full_info" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="YN" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    job_collection, create_time, job_seeker_id, job_full_info, YN
   </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_collection
    where job_collection = #{jobCollection,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_collection
    where job_collection = #{jobCollection,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjrjob.pojo.Collection" >
    insert into job_collection (job_collection, create_time, job_seeker_id,
      job_full_info, YN)
    values (#{jobCollection,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{jobSeekerId,jdbcType=INTEGER}, 
      #{jobFullInfo,jdbcType=INTEGER}, #{yn,jdbcType=TINYINT})

      job_full_info)
    values (#{jobCollection,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{jobSeekerId,jdbcType=INTEGER}, 
      #{jobFullInfo,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.cjrjob.pojo.Collection" >
    insert into job_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobCollection != null" >
        job_collection,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="jobSeekerId != null" >
        job_seeker_id,
      </if>
      <if test="jobFullInfo != null" >
        job_full_info,
      </if>

      <if test="yn != null" >
        YN,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobCollection != null" >
        #{jobCollection,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobSeekerId != null" >
        #{jobSeekerId,jdbcType=INTEGER},
      </if>
      <if test="jobFullInfo != null" >
        #{jobFullInfo,jdbcType=INTEGER},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cjrjob.pojo.Collection" >
    update job_collection
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobSeekerId != null" >
        job_seeker_id = #{jobSeekerId,jdbcType=INTEGER},
      </if>
      <if test="jobFullInfo != null" >
        job_full_info = #{jobFullInfo,jdbcType=INTEGER},
      </if>

      <if test="yn != null" >
        YN = #{yn,jdbcType=TINYINT},
      </if>
    </set>
    where job_collection = #{jobCollection,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cjrjob.pojo.Collection" >
    update job_collection
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      job_seeker_id = #{jobSeekerId,jdbcType=INTEGER},

      job_full_info = #{jobFullInfo,jdbcType=INTEGER},
      YN = #{yn,jdbcType=TINYINT}

      job_full_info = #{jobFullInfo,jdbcType=INTEGER}
    where job_collection = #{jobCollection,jdbcType=INTEGER}
  </update>
</mapper>