<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjrjob.dao.SeekerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cjrjob.pojo.SeekerInfo" >
    <constructor >
      <idArg column="job_seeker_info_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthday" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="highest_education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hope_job" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="disability_kind" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="location" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_experience" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hope_city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="job_kind" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hope_money" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="seeker_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="marriage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="household" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="graduation_time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="QQ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="expect_industry" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="seeker_job" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="height" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="political" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IDnumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="family_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="job_seeker_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="head_img_URI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resume_document_URI" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    job_seeker_info_id, name, birthday, highest_education, hope_job, phone, disability_kind, 
    gender, location, work_experience, hope_city, email, job_kind, hope_money, seeker_status, 
    nation, marriage, household, graduation_time, QQ, expect_industry, seeker_job, start_time, 
    height, political, IDnumber, family_phone, address, job_seeker_id, head_img_URI, 
    resume_document_URI
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_seeker_info
    where job_seeker_info_id = #{jobSeekerInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_seeker_info
    where job_seeker_info_id = #{jobSeekerInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjrjob.pojo.SeekerInfo" >
    insert into job_seeker_info (job_seeker_info_id, name, birthday, 
      highest_education, hope_job, phone, 
      disability_kind, gender, location, 
      work_experience, hope_city, email, 
      job_kind, hope_money, seeker_status, 
      nation, marriage, household, 
      graduation_time, QQ, expect_industry, 
      seeker_job, start_time, height, 
      political, IDnumber, family_phone, 
      address, job_seeker_id, head_img_URI, 
      resume_document_URI)
    values (#{jobSeekerInfoId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{highestEducation,jdbcType=VARCHAR}, #{hopeJob,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{disabilityKind,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{location,jdbcType=VARCHAR}, 
      #{workExperience,jdbcType=VARCHAR}, #{hopeCity,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{jobKind,jdbcType=VARCHAR}, #{hopeMoney,jdbcType=VARCHAR}, #{seekerStatus,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{marriage,jdbcType=VARCHAR}, #{household,jdbcType=VARCHAR}, 
      #{graduationTime,jdbcType=DATE}, #{qq,jdbcType=VARCHAR}, #{expectIndustry,jdbcType=VARCHAR}, 
      #{seekerJob,jdbcType=VARCHAR}, #{startTime,jdbcType=DATE}, #{height,jdbcType=VARCHAR}, 
      #{political,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, #{familyPhone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{jobSeekerId,jdbcType=INTEGER}, #{headImgUri,jdbcType=VARCHAR}, 
      #{resumeDocumentUri,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cjrjob.pojo.SeekerInfo" >
    insert into job_seeker_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobSeekerInfoId != null" >
        job_seeker_info_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="highestEducation != null" >
        highest_education,
      </if>
      <if test="hopeJob != null" >
        hope_job,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="disabilityKind != null" >
        disability_kind,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="workExperience != null" >
        work_experience,
      </if>
      <if test="hopeCity != null" >
        hope_city,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="jobKind != null" >
        job_kind,
      </if>
      <if test="hopeMoney != null" >
        hope_money,
      </if>
      <if test="seekerStatus != null" >
        seeker_status,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="marriage != null" >
        marriage,
      </if>
      <if test="household != null" >
        household,
      </if>
      <if test="graduationTime != null" >
        graduation_time,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="expectIndustry != null" >
        expect_industry,
      </if>
      <if test="seekerJob != null" >
        seeker_job,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="political != null" >
        political,
      </if>
      <if test="idnumber != null" >
        IDnumber,
      </if>
      <if test="familyPhone != null" >
        family_phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="jobSeekerId != null" >
        job_seeker_id,
      </if>
      <if test="headImgUri != null" >
        head_img_URI,
      </if>
      <if test="resumeDocumentUri != null" >
        resume_document_URI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobSeekerInfoId != null" >
        #{jobSeekerInfoId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="highestEducation != null" >
        #{highestEducation,jdbcType=VARCHAR},
      </if>
      <if test="hopeJob != null" >
        #{hopeJob,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="disabilityKind != null" >
        #{disabilityKind,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="hopeCity != null" >
        #{hopeCity,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="jobKind != null" >
        #{jobKind,jdbcType=VARCHAR},
      </if>
      <if test="hopeMoney != null" >
        #{hopeMoney,jdbcType=VARCHAR},
      </if>
      <if test="seekerStatus != null" >
        #{seekerStatus,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="household != null" >
        #{household,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null" >
        #{graduationTime,jdbcType=DATE},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="expectIndustry != null" >
        #{expectIndustry,jdbcType=VARCHAR},
      </if>
      <if test="seekerJob != null" >
        #{seekerJob,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="height != null" >
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="familyPhone != null" >
        #{familyPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="jobSeekerId != null" >
        #{jobSeekerId,jdbcType=INTEGER},
      </if>
      <if test="headImgUri != null" >
        #{headImgUri,jdbcType=VARCHAR},
      </if>
      <if test="resumeDocumentUri != null" >
        #{resumeDocumentUri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjrjob.pojo.SeekerInfo" >
    update job_seeker_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="highestEducation != null" >
        highest_education = #{highestEducation,jdbcType=VARCHAR},
      </if>
      <if test="hopeJob != null" >
        hope_job = #{hopeJob,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="disabilityKind != null" >
        disability_kind = #{disabilityKind,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        work_experience = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="hopeCity != null" >
        hope_city = #{hopeCity,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="jobKind != null" >
        job_kind = #{jobKind,jdbcType=VARCHAR},
      </if>
      <if test="hopeMoney != null" >
        hope_money = #{hopeMoney,jdbcType=VARCHAR},
      </if>
      <if test="seekerStatus != null" >
        seeker_status = #{seekerStatus,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="household != null" >
        household = #{household,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null" >
        graduation_time = #{graduationTime,jdbcType=DATE},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="expectIndustry != null" >
        expect_industry = #{expectIndustry,jdbcType=VARCHAR},
      </if>
      <if test="seekerJob != null" >
        seeker_job = #{seekerJob,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        political = #{political,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        IDnumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="familyPhone != null" >
        family_phone = #{familyPhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="jobSeekerId != null" >
        job_seeker_id = #{jobSeekerId,jdbcType=INTEGER},
      </if>
      <if test="headImgUri != null" >
        head_img_URI = #{headImgUri,jdbcType=VARCHAR},
      </if>
      <if test="resumeDocumentUri != null" >
        resume_document_URI = #{resumeDocumentUri,jdbcType=VARCHAR},
      </if>
    </set>
    where job_seeker_info_id = #{jobSeekerInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjrjob.pojo.SeekerInfo" >
    update job_seeker_info
    set name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      highest_education = #{highestEducation,jdbcType=VARCHAR},
      hope_job = #{hopeJob,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      disability_kind = #{disabilityKind,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      location = #{location,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      hope_city = #{hopeCity,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      job_kind = #{jobKind,jdbcType=VARCHAR},
      hope_money = #{hopeMoney,jdbcType=VARCHAR},
      seeker_status = #{seekerStatus,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=VARCHAR},
      household = #{household,jdbcType=VARCHAR},
      graduation_time = #{graduationTime,jdbcType=DATE},
      QQ = #{qq,jdbcType=VARCHAR},
      expect_industry = #{expectIndustry,jdbcType=VARCHAR},
      seeker_job = #{seekerJob,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=DATE},
      height = #{height,jdbcType=VARCHAR},
      political = #{political,jdbcType=VARCHAR},
      IDnumber = #{idnumber,jdbcType=VARCHAR},
      family_phone = #{familyPhone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      job_seeker_id = #{jobSeekerId,jdbcType=INTEGER},
      head_img_URI = #{headImgUri,jdbcType=VARCHAR},
      resume_document_URI = #{resumeDocumentUri,jdbcType=VARCHAR}
    where job_seeker_info_id = #{jobSeekerInfoId,jdbcType=INTEGER}
  </update>

  <select id="findSeekerByEmail" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from job_seeker_info
    where email = #{email}
  </select>
</mapper>